@model İş_Proje.Models.Birim
@{
    ViewData["Title"] = "YeniBirim";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />

<form class="form-group" method="post">
    <b>Başlık Adı</b>
    @Html.TextBoxFor(x=> x.BirimAd, new {@class="form-control"})
    <br />
    <button class="btn btn-info">Başlık Ekle</button>








</form>



