@model İş_Proje.Models.Personel 
@{
    ViewData["Title"] = "YeniPersonel";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br/>
<form class="form-group" method="post">
    <b>Yazar Adı</b>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    

    <b>Yazar Soyadı</b>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })

    <b>Şehir</b>
    @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
    <br />
    <b>Başlık ID </b>
    @Html.DropDownListFor(x => x.Birim.BirimID, (List<SelectListItem>)ViewBag.dgr, new {@class="form-control"})
    <br />
    <button class="btn btn-info">Yazar Ekle</button>





   





</form>

